/* Tema oscuro (por defecto) */
/* styles.css */
body.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --panel-color: #f5f5f5;
  --table-header-color: #dcdcdc;
  --hover-color: #ececec;
}

body.dark-theme {
  --background-color: #1f1b2e;
  --text-color: #ffffff;
  --panel-color: #2a2a40;
  --table-header-color: #6A0DAD;
  --hover-color: #34195a;
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.app-header {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.theme-toggle-button {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--text-color);
}
